<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <p> lab 6 </p>
        
        <form action="http://localhost:5000/create" method="POST">
            <p>Student id: <input type="text" name="student_id" required /></p>
            <p>First name: <input type="text" name="first_name" required /></p>
            <p>Last name: <input type="text" name="last_name" required /></p>
            <p>Birthday date: <input type="date" name="dob" required /></p>
            <p>Amount due : <input type="number" name="amount_due" required /></p>

            <p><input type="submit" value="Submit" /></p>
        </form>
    
    </body>
</html>
